html{
	height: 100%;
}
.newAccount2_header{
  font-weight: bold;
  font-size: 15px;
  width: 40%;
}
.newAccount2_table{
	text-align: center;
}
.newAccount2_table tr{
    height: 40px;
}
.newAccount2_table th{
    width: 170px;
    white-space: nowrap;
}
.newAccount2_table td{
    word-break: break-all;
}
.newAccount2_table tt{
    font-family: unset;
    font-size: 12px;
}
.newAccount2_btn{
  margin: 30px 15px;
  width: 140px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #FFF;
  background: #343738;
  border: solid 1px #343738;
  transition: .3s;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.newAccount2_btn:hover {
  background: #696969;
  border: solid 1px #696969;
}