<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<%= stylesheet_link_tag 'footer' %>
<title>ECサイト</title>
</head>
<body>
<form method="" action="">
 <div class="footer">
 	<div>
 		<ul>
 			<li class="main_li">ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 		</ul>
 	</div>
 	<div>
 		<ul>
 			<li class="main_li">ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 		</ul>
 	</div>
 	<div>
 		<ul>
 			<li class="main_li">ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 		</ul>
 	</div>
 	<div>
 		<ul>
 			<li class="main_li">ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 			<li>ご利用について</li>
 		</ul>
 	</div>
 </div>
</form>
</body>
</html>