<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<%= stylesheet_link_tag 'sidemenu' %>
<title>ECサイト</title>
</head>
<body>
	<div id="wrapper">
		<input type="checkbox" id="navTgl">
		<label for="navTgl" class="open">≡</label>
		<label for="navTgl" class="close"></label>
		<nav class="menu">
			<ul>
				<li style="height: 50px;"><a href="#">BRAND</a></li>
				<li style="height: 50px;"><a href="#">CATEGORY</a></li>
				<li style="height: 50px;"><a href="#">COODINERT</a></li>
				<li style="height: 50px;"><a href="#">SHOPINFO</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>